.container {
  width: 800px;
  height: 800px;
  border: 1px solid crimson;

  /* flex 쓸때 아래 3개 같이 동시에 */
  display: flex;
  flex-direction: row;
  gap: 10px;

  /* 주축(메인축)기준으로 정렬렬 */
  justify-content: center;

  /* 교차축(서브축)기준으로 정렬해줌줌 */
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
