.iconBox {
  background-color: white;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
}

.pro {
  position: absolute;
  top: -13px;
  left: 25px;
  background-color: #ffe770;
  width: fit-content;
  padding: 7px 14px;
  border-radius: 15px;

  font-size: 12px;
  font-weight: 700;
}

.wrap {
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon > i {
  font-size: 40px;
  font-weight: 900;
}
