.card {
  width: 200px;
  height: 450px;

  margin: 10px auto;
}

.card > img {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.text {
  font-size: 14px;
  font-weight: 400;
}

.info {
  padding: 7px;
}

.text,
.tag,
.btn,
.rating {
  margin-bottom: 10px;
}

.name {
  font-weight: 900;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.grayBtn {
  font-size: 12px;
  color: #747c80;
  border: none;
  border-radius: 4px;
  background-color: #e6e6e6;
  padding: 3px 5px;
}

.rating > i {
  color: gray;
  font-size: 9px;
}

.rating {
  color: gray;
  font-size: 12px;
  font-weight: 900;
}
