.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  animation: swing-top-fwd 1.5s cubic-bezier(1, 0, 1, 0) infinite;
}

@keyframes colorChange {
  0% {
    background-color: white;
  }
  100% {
    background-color: aquamarine;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes swing-top-fwd {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
