.per {
  width: 300px;
  border-radius: 30px;
  padding: 20px 30px;
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
  background-color: #0090ff;
}

.com {
  width: 300px;
  border-radius: 30px;
  padding: 20px 30px;
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
  background-color: black;
}
